<!-- INCLUDE overall_header.html -->

<div class="header-time">
<!-- IF S_USER_LOGGED_IN --><p class="{S_CONTENT_FLOW_END} time">{CURRENT_TIME}</p><!-- ENDIF -->
<p class="{S_CONTENT_FLOW_END} time"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
</div>
<!-- INCLUDE forumlist_body.html -->

<div class="forabg">
	<div class="inner">
	<div class="forumcategory">Miscellaneous</div>
	<ul class="topiclist forums">
	  <li class="row">
      <dl class="icon forum_unread">
        <dt title="Miscellaneous Links and Information">
          <a class="icon-link" href="viewonline.php"></a>
          <div class="list-inner-stats">
            <!-- IF S_USER_LOGGED_IN --><a href="search.php?search_id=egosearch">View your posts</a><br><!-- ENDIF -->
            <a href="viewonline.php" class="mainmenu">View users currently online</a><br>
            <a href="archives.php" class="mainmenu">View archived SourceForge forums</a>&nbsp;<b>[READ ONLY]</b>
          </div>
        </dt>
        <dd class="stats">
          <span>
            <!-- EVENT index_body_block_stats_prepend -->
            {TOTAL_TOPICS}<br>
            {TOTAL_USERS}
            <!-- EVENT index_body_block_stats_append -->
          </span>
        </dd>
      </dl>
	  </li>
	</ul>
	</div>
</div>

<!-- EVENT index_body_forumlist_body_after -->

<!-- EVENT index_body_markforums_before -->
	<div class="action-bar compact">
		<!-- IF U_MARK_FORUMS --><a href="{U_MARK_FORUMS}" class="mark-read" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a><!-- ENDIF -->
		<div class="pullright">{S_TIMEZONE}</div>
	</div>
<!-- EVENT index_body_markforums_after -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
		  <div class="quick-login-title">Login with username and password</div>
		  <div class="quick-login-controls">
  			<label for="username"><span>{L_USERNAME}{L_COLON}</span> <input type="text" placeholder="User name" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" /></label>
  			<label for="password"><span>{L_PASSWORD}{L_COLON}</span> <input type="password" placeholder="Password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" /></label>
  			<!-- IF S_AUTOLOGIN_ENABLED --><label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label><!-- ENDIF -->
  			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
  			{S_LOGIN_REDIRECT}
			</div>
			<!-- IF U_SEND_PASSWORD -->
				<div class="quick-login-forgot"><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></div>
			<!-- ENDIF -->
		</fieldset>
	</form>	
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_before -->
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="stat-block online-list">
		<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
		<p>
			<!-- EVENT index_body_block_online_prepend -->
			{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
			<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
			<!-- EVENT index_body_block_online_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<div class="stat-block birthday-list">
		<h3>{L_BIRTHDAYS}</h3>
		<p>
			<!-- EVENT index_body_block_birthday_prepend -->
			<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
			<!-- EVENT index_body_block_birthday_append -->
		</p>
	</div>
<!-- ENDIF -->


<!-- EVENT index_body_stat_blocks_after -->

<!-- INCLUDE overall_footer.html -->
