.header {
  background: #a82709 url(./images/par-head.png) top left repeat-x;
}

#header-links {
  margin-top: 13px;
  padding: 10px 6px;
  text-align: right;
}

#header-links-forum {
  padding: 10px 6px;
  text-align: right;
}

@media (min-width: 890px) {
  #header-links {
    text-align: left;
    position: absolute;
    top: 0;
    left: 202px;
    padding: 10px;
    z-index: 1;
    margin: 0;
  }
  
  #header-links-forum {
    text-align: left;
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .header-time {
    margin-top: 22px;
  }
}

#branding,
#search-box,
#page-header .navbar,
#page-footer .navbar,
.online-list,
.birthday-list {
  display: none;
}

.gog {
  font-weight: bold;
}

#site-description h1 {
  margin-top:  25px;
}

#site-description p {
  margin-bottom: 5px;
}

.search-header {
  box-shadow: 0 0 10px #dbd2ab;
}

a { text-decoration: underline; }
a:hover	{ text-decoration: none; }

.time {
  margin-bottom: 5px;
}

#wrap {
  border:  none;
	border-radius: 10px;
	max-width: 1098px;
  background: #fbf1ce url("./images/top_bg.gif") top left repeat-x;
  padding: 15px 17px;
}

.forum_unread,
.forum_unread_subforum {
  background-image: url("./images/folder_new.gif");
}

.forum_read {
  background-image: url("./images/folder.gif");
}

li.header dt, li.header dd {
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px 0 7px 0;
  text-transform: inherit;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

li.header dd {
  border-left: solid 1px #961809;
}

.forumcategory {
  font-size: 13px;
  font-weight: bold;
  color: #444;
  background: #c0c0c0;
  padding: 3px 1px;
}

dl a.icon-link {
  margin-left: 0;
  width: 23px;
  height: 100%;
  top: 0;
  margin-top: 0;
}

dd.posts {
  width: 57px;
  font-size: 13px;
}

dd.topics {
  width: 67px;
  font-size: 13px;
}

dd.lastpost {
	width: 154px;
}

dd.moderation {
  width: 208px;
  text-align: center;
}

ul.topiclist dt {
  margin-right: -486px;
}

li.header dt {
  margin-right: -486px;
}

ul.topiclist dt .list-inner,
ul.topiclist dt .list-inner-stats {
  margin-right: 486px;
}

ul.topiclist.forums dt .list-inner,
ul.topiclist.topics dt .list-inner,
ul.topiclist.forums dt .list-inner-stats {
  border-left: 1px solid #c0c0c0;
}

ul.topiclist dt .list-inner-stats {
  padding-top: 4px;
  padding-bottom: 4px;
}

.icon_topic_latest {
  display: inline-block;
  width: 18px;
  height: 9px;
  overflow: hidden;
  background: transparent url('./images/icon_latest_reply.gif') no-repeat left top;
  text-indent: -10000px;
  white-space: nowrap;
}

dd.lastpost > span .icon_topic_latest {
  text-indent: 10000px;
}

.pullright {
  float: right;
  margin-left: 5px;
  text-align: right;  
}

#forumlegend {
  margin: 5px auto;
  max-width: 300px;
}

#forumlegend > span {
  display: inline-block;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;  
}

#forumlegend > span:last-child {
  margin-right: 0;
}

.icon_new_posts,
.icon_no_new_posts,
.icon_closed_forum {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left top;
}

.icon_new_posts {
  background-image: url(./images/folder_new.gif);
}

.icon_no_new_posts {
  background-image: url(./images/folder.gif);
}

.icon_closed_forum {
  background-image: url(./images/folder_lock.gif);
}

.responsive-topics {
  margin-top: 4px;
}

.logo {
  padding: 0;
  position: absolute;
  top: 54px;
  left: 3px;
  z-index: 2;
}

.imageset.site_logo {
  display: block;
  background-image: url(./images/scummvm_logo_small.png);
  padding-left: 89px;
  padding-top: 26px;
}

@media (min-width: 640px) {
  .logo {
    top: -18px;
  }
  
  .imageset.site_logo {
  	background-image: url(./images/scummvm_logo.png);
    padding-left: 199px;
    padding-top: 65px;
  }
}
