html,
body
{
    color: #000;
}

html
{
    background: #efc418;
    background: #efc418 url(./images/scummvm/body-bg.png) top left repeat-x;
}

body
{
    font-family: verdana, tahoma, arial, helvetica, sans-serif;
    font-size: 10px;

    min-height: 480px;
    margin: 11px;
    padding: 0;

    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin-top: 0;
}

a
{
    color: #a33;
}

#page-header
{
    line-height: 16px;

    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 7px 20px 6px 10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f7e18f;
}

.headerbar
{
    font-size: 10.6667px;

    margin: 0;
    padding: 0;

    color: #000;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
}

.header
{
    font-size: 12px;
    line-height: 1;

    color: #fff;
    background: #a82709 url(./images/scummvm/par-head.png) top left repeat-x;
}

#search-box,
#page-footer .navbar,
.birthday-list
{
    display: none;
}

.online-list {
    width: 100%;
    float: left;
}

.gog
{
    font-weight: bold;
}

.search-header
{
    box-shadow: 0 0 10px #dbd2ab;
}

a
{
    text-decoration: underline;
}
a:hover
{
    text-decoration: none;
}

#wrap
{
    width: 90%;
    min-width: 960px !important;
    max-width: 1134px;
    margin: 28px auto 0 auto;
    padding: 0;

    border: none;
    border-radius: 0;
    background: transparent;
}

.forum_unread,
.forum_unread_subforum
{
    background-image: url('./images/scummvm/folder_new.gif');
}

.forum_read
{
    background-image: url('./images/scummvm/folder.gif');
}

li.header
{
    border: solid 1px #c0c0c0;
}

li.header dt,
li.header dd
{
    font-weight: bold;
    font-size: 13px !important;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7px 0 7px 0;

    text-align: center;
    text-transform: inherit;
}

li.header dd
{
    border-left: solid 1px #961809;
}

.forumcategory
{
    font-size: 13px;
    font-weight: bold;
    font-weight: bold;
    line-height: 1;
    padding: 3px;
    color: #444;
    background: #c0c0c0;
}

dl a.icon-link
{
    top: 0;

    width: 22px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
}

ul.topiclist dt .list-inner-stats
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon_topic_latest
{
    display: inline-block;
    overflow: hidden;

    width: 18px;
    height: 9px;

    white-space: nowrap;
    text-indent: -10000px;

    background: transparent url('images/icon_topic_latest.gif') no-repeat left top;
}

dd.lastpost > span .icon_topic_latest
{
    text-indent: 10000px;
}

dd.icon {
    width: 19px;
    padding: 0 4px 0 4px !important;
}
.lastpost-time
{
    white-space: nowrap;
}

.pullright
{
    float: right;

    margin-left: 5px;

    text-align: right;
}

#forumlegend
{
    max-width: 300px;
    margin: 5px auto;
}

#forumlegend > span
{
    display: inline-block;

    height: 20px;
    margin-right: 10px;
    padding-left: 25px;
}

#forumlegend > span:last-child
{
    margin-right: 0;
}

.icon_new_posts,
.icon_no_new_posts,
.icon_closed_forum
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left top;
}

.icon_new_posts
{
    background-image: url(./images/scummvm/folder_new.gif);
}

.icon_no_new_posts
{
    background-image: url(./images/scummvm/folder.gif);
}

.post-bottom {
    background: #ccc;  
    width: 100%;
    overflow: auto;
    display: block;
}

.post-bottom .buttons {
    float:right;
    padding: 5px 10px 5px 10px;
}

form#viewtopic {
    float: left;
}
.forum_read_locked,
.icon_closed_forum
{
    background-image: url(./images/scummvm/folder_lock.gif);
}

.responsive-topics
{
    margin-top: 4px;
}

.logo
{
    position: relative;

    padding: 0;
}

.forabg
{
    margin-bottom: 0;

    border-radius: 0;
    background: none;
}

ul.forums
{
    background-color: #e8e7e7;
    background-image: none;
}

li.row:hover
{
    background-color: transparent;
}

li.row
{
    border-bottom-color: #c0c0c0;
}

ul.topiclist li.row
{
    color: #494957;
    border-top: none;
}

ul.topiclist dd
{
    border-left-color: #c0c0c0;
}

.stat-block
{
    display: none;
}

.headerspace h3
{
    display: none;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover
{
    text-decoration: none;

    color: #fff;
}

/* Form button styles
---------------------------------------- */

a.button1,
input.button1,
a.button2,
input.button2,
a.button3,
input.button3
{
    color: #fff;
    border-color: #841609;
    background: #95200e linear-gradient(#ba6755, #961809) repeat-x left top;
}

/* Hover states */
a.button1:hover,
input.button1:hover,
a.button2:hover,
input.button2:hover,
input.button3:hover
{
    color: #fff;
    border-color: #b1301e;
    background: #ba2f25 linear-gradient(#f5c5bc, #ba2f25) repeat-x left top;
}

/* Focus states */
input.button1:focus,
input.button2:focus,
input.button3:focus
{
    color: #fff;
    border-color: #120301;
}

input.button1:active,
input.button2:active,
input.button3:active
{
    border-color: #631b0e;
    border-top-color: #37140d;
    background: #631b0e;
}

input.button1[disabled],
input.button2[disabled],
input.button3[disabled]
{
    color: #a08f86;
    border-color: #8d684e;
    background: #7c4138 linear-gradient(#7c4138, #641202) repeat-x left top;
}

.inputbox:hover
{
    border-color: #a82709;
}

.inputbox:focus
{
    color: #666;
    border-color: #a82709;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox
{
    border-top-color: #55523f;
    border-bottom-color: #ebdf8f;
    background-color: #ebdf8f;
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a
{
    color: #666;
    background: #d1d1d1;
}

#tabs .tab > a:hover
{
    color: #d31141;
    background: #e8e7e7;
}

#tabs .activetab > a,
#tabs .activetab > a:hover
{
    color: #333;
    border-color: #e8e7e7;
    background: #e8e7e7;
}

/* Post body links */
.postlink
{
    color: #368ad2;
    border-bottom-color: #368ad2;
}

.postlink:visited
{
    color: #5d8fbd;
    border-bottom-color: #5d8fbd;
}

a
{
    color: #a33;
}
a:hover
{
    color: #f00;
}

/* Pagination
---------------------------------------- */

.pagination,
.pagination li a,
.pagination li span {
    font-weight: 700;
    font-size: 11px;
}

.pagination ul {
    margin: 0;
}

.pagination li a
{
    color: #a33;
    text-decoration: underline;       
}

.pagination li.ellipsis span
{
    color: #000;
    background-color: transparent;
}

.pagination li.active span
{
    color: #000;
    border-color: transparent;
    background-color: transparent;
}

.pagination li a:hover,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger
{
    color: #f00;
    border-color: 0;
    background-color: transparent;
}

.pagination li a, .pagination li span {
    border: 0;	
    background-color: transparent;
    padding: 0;
}

.pagination li.next a,
.pagination li.previous a {
    background-image: none;
    color: #a33;
    font-size: 10px;
    width: 100%;
    height: 100%;
}

/* Action-bars (container for post/reply buttons, pagination, etc.)
---------------------------------------- */
.action-bar
{
    color: #000;
}

.bg1
{
    background-color: #e8e7e7;
}

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd)
{
    background-color: #ecf3f7;
}

.bg2
{
    background-color: #e8e7e7;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even)
{
    background-color: #e1ebf2;
}

.bg3
{
    background-color: #cadceb;
}

.panel
{
    color: #28313f;
    background-color: #e8e7e7;
}

.forabg
{
    background-color: #ccc;
}

.forumbg
{
    background-color: #ccc;
}

.button
{
    font-size: 13px;
}

.forabg
{
    padding: 0;

    border: 1px solid #c0c0c0;
}

ul.linklist li.responsive-menu a.responsive-menu-link
{
    font-size: 16px;
    line-height: 20px;
}

.pagination
{
    font-size: 11px;
}

.pagination li a,
.pagination li span
{
    line-height: 13px;
}

.headerspace
{
    text-align: right;
}

.headerspace h3
{
    display: none;
}

.dropdown-extended .header
{
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;

    padding: 0 10px;

    text-align: left;
    text-transform: uppercase;

    border-bottom: 1px solid;
    border-radius: 5px 5px 0 0;
    text-shadow: 1px 1px 1px white;
}

.notification_list p.notification-time
{
    font-size: 8pt;
}

.notification_list p.notifications_title
{
    font-size: 13px !important;
}

.notification_list p.notifications_time
{
    font-size: 10px !important;
}

#quick-links a.responsive-menu-link:before
{
    font-size: 16px;
    line-height: 16.5px;
}

.compact #quick-links a.responsive-menu-link
{
    font-size: 0;
}


li.row:last-child
{
    border-bottom: none;
}


dd.redirect,
dd.moderation,
dd.time,
dd.info,
dd.stats
{
    font-size: 1.1em;
}


dd.lastpost > span,
ul.topiclist dd.info > span,
ul.topiclist dd.time > span,
dd.redirect > span,
dd.moderation > span,
dd.stats > span
{
    font-size: .95em;

    display: block;

    padding: 0 5px;
}

.row dd.lastpost > span
{
    text-align: right;
}


fieldset.quick-login .quick-login-title,
fieldset.quick-login .quick-login-controls,
fieldset.quick-login .quick-login-forgot
{
    margin-bottom: 5px;
}

fieldset.quick-login .quick-login-remember
{
    margin-bottom: 15px;
}

fieldset.quick-login label > span
{
    display: none;
}

fieldset.quick-login input.inputbox
{
    width: 100px;

    vertical-align: middle;
}

fieldset.quick-login label
{
    margin-bottom: 5px;

    white-space: nowrap;
}


/* Input field styles
---------------------------------------- */
.inputbox
{
    padding: 4px 9px;

    border: 1px solid transparent;
    border-radius: 5px;
}


a.button1,
input.button1,
input.button3,
a.button2,
input.button2
{
    padding: 4px 18px;
}


a.button1,
input.button1,
a.button2,
input.button2,
a.button3,
input.button3
{
    border-radius: 5px;
}

ul.topiclist li.row dl
{
    padding: 0;
}

ul.topiclist dt,
ul.topiclist dd
{
    float: none;
}

ul.topiclist dl
{
    display: table;

    width: 100%;
}

ul.topiclist dt,
ul.topiclist dd
{
    display: table-cell;

    vertical-align: middle;
}

li.header dt,
ul.topiclist dt
{
    width: auto;
}

li.header dt .list-inner
{
    margin-right: 0;
}

.time
{
    font-size: 8pt;

    margin-bottom: 10px;
}

a.forumtitle
{
    font-size: 13px;
    font-weight: bold;

    text-decoration: underline;
}

ul.topiclist.forums dt,
ul.topiclist.forums dd,
ul.topiclist.topics dt,
ul.topiclist.topics dd
{
    font-size: 8pt;

    color: #000;
}

a.lastsubject
{
    display: none;
}

.lastpost br
{
    display: none;
}

ul.topiclist.forums li
{
    font-size: 8pt;

    color: #000;
}

.username-coloured + a + br
{
    display: block;
}

.forumbg
{
    margin-bottom: 0;
    padding: 0;

    border-radius: 0;
    background-color: transparent;
    background-image: none;
}

li.row.bg1:hover
{
    background-color: #e8e7e7;
}

.topic_read
{
    background-image: url(./images/scummvm/folder.gif);
}

#page-body
{
    float: left;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 22px 17px;

    background: #fbf1ce;
}

#page-footer
{
    padding: 15px;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fbf1ce;
}

@media (min-width: 700px)
{
    #header-links
    {
        padding-left: 190px;
    }
}

#header-links-forum
{
    text-align: center;
}


@media (min-width: 700px)
{
    #header-links-forum
    {
        text-align: right;
    }
}

.imageset.site_logo
{
    position: absolute;
    top: -23px;
    left: -8px;

    padding-top: 58px;
    padding-left: 194px;

    background-image: url(./images/scummvm/scummvm_logo.png);
}

ul.topiclist dt .list-inner
{
    margin: 0 !important;
}

@media (max-width: 700px)
{
    ul.topiclist.forums dd.lastpost
    {
        display: table-cell !important;
    }

    fieldset.quick-login input.inputbox
    {
        margin-right: 0;
    }

    fieldset.quick-login label
    {
        padding-right: 0;
    }
}

@media (max-width: 550px)
{
    ul.topiclist.forums dd.lastpost
    {
        display: none !important;
    }
}

.time
{
    margin: 0;
    margin-bottom: 10px;
}

.forum-title
{
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;

    height: 25px;
    margin: 10px 0;
    padding-left: 23px;

    background: transparent url(./images/scummvm/folder_new.gif) left center no-repeat;
}

.search-box
{
    display: none;
}

.button.icon-button.post-icon
{
    overflow: hidden;

    width: 82px;
    height: 25px;
    margin: 0;
    margin-right: 0;
    padding: 0;

    text-indent: -10000px;

    border: none;
    background: transparent url(./images/scummvm/post_lang.gif) center center no-repeat;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.button.icon-button.post-icon::before
{
    display: none;
}

.forumbg
{
    border: solid 1px #ccc;
}

fieldset.display-options
{
    margin: 0;
    padding: 5px 10px;

    text-align: left;

    color: #000;
    background-color: #ccc;
}

label
{
    color: #000;
}

a.arrow-left:hover
{
    color: #f00;
}

.forumbg + form + hr
{
    display: none;
}

.dropdown-select
{
    font-size: 11px;
    line-height: 18px;

    color: #000;
    border: solid 1px #dcd7ac;
    background: #f6edbc;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
}

.dropdown-select:hover,
.dropdown-select:focus
{
    color: #599815;
    border: solid 1px #dcd7ac;
    background: #f6edbc;
    text-shadow: none;
}

.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select
{
    color: #599815;
    border: solid 1px #dcd7ac;
}

.button:hover,
.dropdown-visible .dropdown-select,
.nojs .dropdown-container:hover .dropdown-select
{
    background: #f6edbc;
    text-shadow: none;
}

.dropdown-select::after,
.dropdown-select::after:hover
{
    border-left: none;
    background: transparent url(./images/scummvm/dd.gif) center center no-repeat;
}

input.button1:focus,
input.button2:focus,
input.button3:focus
{
    border-color: #000;
}

.topic-tools
{
    display: none;
}

.post
{
    display: table;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
}

.post > .inner
{
    display: table-row;

    width: 100%;
}

.postbody
{
    display: table-cell;
    float: none;

    width: auto;
    padding: 10px;

    vertical-align: top;
}

.postprofile
{
    display: table-cell;
    float: none;

    margin: 0;
    padding: 5px 0;

    vertical-align: top;

    border-width: 0 1px 0 0;
    border-color: #c0c0c0;
}

.back2top
{
    display: none;
}

.post
{
    border: solid 1px #c0c0c0;
    border-radius: 0;
}

@media (min-width: 700px)
{
    .post
    {
        padding: 0;
    }
}

.post.bg2
{
    background-color: #fff;
}

.button.icon-button.reply-icon
{
    overflow: hidden;

    width: 82px;
    height: 25px;
    padding: 0;

    text-indent: -10000px;

    border: none;
    background: transparent url(./images/scummvm/reply_lang.gif) center center no-repeat;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
    text-shadow: none;
}

.button.icon-button.reply-icon:before
{
    display: none;
}

.postbody h3.first
{
    font-size: 8pt;
    font-weight: bold;

    float: none;

    margin: 0 0 10px 0 !important;
    padding: 0;
}

.postbody h3.first a
{
    text-decoration: none;

    color: #000;
}

a.button1,
a.button1:link,
a.button1:visited,
a.button1:active,
a.button2,
a.button2:link,
a.button2:visited,
a.button2:active
{
    background-position: inherit;
}

.panel
{
    padding: 0;

    border: solid 1px #c0c0c0;
    border-radius: 0;
}

.panel > .inner > .content > h2,
.panel > .inner > .content > h3,
.panel > .inner > h2,
.panel > .inner > h3
{
    font-size: 12px;
    font-weight: bold;
    line-height: 1;

    margin: -15px -15px 10px -15px;
    padding: 10px 0  5px 0;

    text-align: center;
    text-transform: none;

    color: #fff;
    border-bottom: solid 1px #c0c0c0;
    background: #a82709 url(./images/scummvm/par-head.png) top left repeat-x;
}

.panel > .inner > h2,
.panel > .inner > h3
{
    margin: 0;
    padding: 5px 10px;

    text-align: left;
}

.panel > .inner > .content,
.panel > .inner > fieldset
{
    padding: 10px;
}

h2.titlespace,
.searchresults-title-none,
.topic-title,
.faq-title
{
    font-size: 12px;
    font-weight: bold;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 10px;

    color: #fff;
    border: solid 1px #c0c0c0;
    border-bottom: 0;
    background: #a82709 url(./images/scummvm/par-head.png) top left repeat-x;
}

@media (max-width: 700px)
{
    .topic-title,
    .action-bar
    {
        margin-right: -5px;
        margin-left: -5px;
    }
}

.topic-title a
{
    text-decoration: none;

    color: #fff;
}

.action-bar
{
    width: 100%;
    margin: 10px 0;
}

.postprofile.title,
.postbody.title
{
    font-size: 13px;

    padding: 5px 10px;

    color: #000;
    border: none;
    background-color: #b3b3b3;
}

.postprofile.footer,
.postbody.footer
{
    padding: 5px 10px;

    color: #000;
    border: none;
    background-color: #e2e1e1;
}

.postprofile.footer
{
    border-right: solid 1px #c0c0c0;
}

@media (max-width: 700px)
{
    .postprofile.title,
    .postbody.title,
    .postprofile.footer,
    .postbody.footer
    {
        display: none;
    }
}

.postbody .author
{
    display: none;
}

.has-profile .post-buttons
{
    position: static;

    float: right;
}

.button.icon-button.quote-icon
{
    overflow: hidden;

    width: 59px;
    height: 18px;
    padding: 0;

    text-indent: -10000px;

    border: none;
    background: transparent url(./images/scummvm/icon_quote_lang.gif) ;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.button.icon-button.quote-icon::before
{
    display: none;
}

.navbar ul.linklist
{
    padding: 0;
}

ul.navlinks
{
    border: none;
}

.navbar
{
    padding: 0 0 10px 0;

    border-radius: 0;
    background: none;
}

.icon-home
{
    background: transparent url(./images/scummvm/folder_new.gif) left center no-repeat;
}

li.breadcrumbs span:first-child > a
{
    padding-left: 24px;
}

#faqlinks .inner
{
    padding: 10px;
}

ul.linklist > li
{
    font-size: 8pt;
    line-height: 14px;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before
{
    border-color: #a33;
}

ul.linklist.bulletin > li:before
{
    display: none;
}

#quick-links
{
    margin: 0 0 0 7px;
}

#quick-links a.responsive-menu-link
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 18px;
    height: 18px;
    padding-left: 18px;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before
{
    top: 8px;
}

.dropdown a
{
    text-decoration: none;
}

.dropdown .small-icon
{
    background-image: none;
}

.dropdown .small-icon a
{
    padding-left: 0;
}

.solo
{
    display: none;

    margin: 0;
}

.panel.captcha-panel > .inner > p,
.panel.captcha-panel > .inner > fieldset
{
    padding: 10px;
}

.navbar
{
    display: none;
}

.advanced-search-link
{
    float: left;

    margin: 0;
}

.nosearchresults.inner
{
    padding: 10px;
}

.searchresults-title
{
    font-size: 16px;
    font-weight: bold;

    margin: 0 0 5px 0;

    text-align: center;
}

.section-viewforum .forum-title
{
    display: none;
}

.smalltext {
    font-size: 10px;
    color: #000000;
}

.topic_read,
.topic_read_mine
{
    background-image: url(./images/scummvm/folder.gif);
}

.topic_unread,
.topic_unread_mine
{
    background-image: url(./images/scummvm/folder_new.gif);
}

.button:hover,
.dropdown-visible .dropdown-select,
.nojs .dropdown-container:hover .dropdown-select
{
    border-color: #c0c0c0;
}

.posting-title
{
    margin: 0 0 15px 0;
}

.ucp-main .panel
{
    min-height: 200px;
}

.ucp-main .header dt
{
    color: #fff;
}

.inputbox
{
    border-color: #c0c0c0;
}

dd.moderation,
dd.lastpost
{
    width: 100px;
}

@media (max-width: 700px)
{
    .topiclist.forumheaderbar li.header
    {
        margin: 0 -5px;
    }
}

.forum_link dd
{
    display: none !important;
}

.icon.forum_link
{
    background-image: none;
}

dl.icon
{
    background-position: 1px 50%;
}

dl.icon dt div.list-inner
{
    padding-left: 25px !important;
}

dl a.icon-link
{
    border-right: solid 1px #c0c0c0;
}


dl.icon.forum_link dt .list-inner
{
    padding-left: 0;
}

dl.icon.forum_link dt .list-inner .forumtitle
{
    font-size: 11px;
    font-weight: normal;

    text-decoration: none;
}

.navbar
{
    padding: 0;
}


.section-viewforum .navbar
{
    display: block;
    float: left;
    clear: both;

    white-space: nowrap;
}

.section-viewforum .buttons
{
    float: right;
}

.section-viewforum .action-bar.top
{
    float: left;
    clear: both;
}

.section-viewforum .action-bar.top .mark
{
    float: right;
}

.section-viewforum .action-bar.bottom .mark
{
    float: left;
}

.section-viewforum .action-bar.top .pagination
{
    float: left;
}

.section-viewforum .inner-empty
{
    padding: 10px;
}

#message-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 10px 0 0;
}

#postingbox fieldset.fields1 dt
{
    margin: 0 0 10px 0;
    padding: 0;
}

#postingbox fieldset.fields1 dd
{
    clear: both;

    margin: 0;
    padding: 0;
}

.section-posting .posting-title
{
    display: none;
}

.announce_read,
.announce_read_mine
{
    background-image: url(./images/scummvm/folder_announce.gif);
}

.jumpbox-return
{
    display: none;
}

#nav-main li:before
{
    display: inline-block;

    content: '-';

    color: #000;
}

#nav-main li:last-child:before
{
    display: none;
}

#site-description
{
    width: auto;
}

ul.linklist > li.rightside,
p.rightside,
a.rightside
{
    margin-left: 3px;
}

dd.lastpost
{
    width: 154px;
}

dd.posts
{
    width: 57px;
}

dd.topics
{
    width: 67px;
}

.row dt a.forumtitle {
    font-family: verdana,tahoma,arial,helvetica,sans-serif !important;
    font-size: 13px !important;
    font-weight: bold;
}

.row dd.posts,
.row dd.topics
{
    font-family: verdana,tahoma,arial,helvetica,sans-serif !important;
    font-size: 13px !important;
}

.loggedin_time_info {
    text-align: right;
    margin-bottom: 0;
    font-size: 10px;
}

.loggedin_info {
    overflow: hidden;
    padding: 0 2px 3px 2px;
}

.loggedin_main_info {
    padding: 6px 0 0 0;
}

.loggedin_main_info,
.loggedin_additional_info {
    float:left;
    width: 50%;
}

.row .list-inner {
    font-size: 10px;
}

dd.moderation
{
    width: 207px;
    text-align: center;
}

li.header dl.icon dt .list-inner {
    padding-left: 50px !important;
}

.forumheaderbar {
    font-family: verdana,tahoma,arial,helvetica,sans-serif !important;
}

ul.topiclist.forums dt, ul.topiclist.forums dd, ul.topiclist.topics dt, ul.topiclist.topics dd {
    padding: 3px 0 3px 0;
}

.imageset.icon_topic_latest {
    padding-left: 17px;
}

ul.linklist.bulletin > li:before {
    padding-right: 3px;
}
